*,
*::before,
*::after {
    box-sizing: border-box;
}

html,
body {
    padding: 0;
    margin: 0;
}

body {
    font-family: "futura-pt", "futura-pt-bold", 'Helvetica Neue','Arial','游ゴシック', 'YuGothic', 'ヒラギノ角ゴ ProN W3', "Hiragino Kaku Gothic ProN", "メイリオ", 'Meiryo', 'Osaka', 'MS Pゴシック', 'MS PGothic', sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 12px;
    line-height: 26px;
    background-color: #f5f3f2;
    color: #3c2617;
}

img {
    max-width: 100%;
    height: auto;
}

ul,
ol {
    list-style: none;
    padding: 0;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    padding: 0;
    margin: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

/* inner */
.section__inner {
    width: 80%;
    max-width: 100%;
    margin: 0 auto;
    padding: 60px 0;
}

@media screen and (min-width: 768px) {
    .section__inner {
        width: 980px;
    }
}

.inner-bb {
    padding-bottom: 60px;
    border-bottom: 1px solid #3c2617;
}

/* 共通項目 */
.s__title {
    font-size: 13px;
    letter-spacing: 2px;
}

.s__title::after {
    content: "";
    display: block;
    width: 18px;
    padding-bottom: 12px;
    border-bottom: 1px solid #666464;
}

.s__title-en {
    display: block;
    margin-top: 12px;
    font-weight: 700;
}

.s__flex {

}

@media screen and (min-width: 768px) {
    .s__flex {
        display: flex;
    }
}

.flex-mt {
    margin-top: 60px;
}

.bg-light {
    background-color: #fcfbf5;
}

.t-square {
    display: inline-block;
    padding: 1px 12px;
    font-size: 13px;
    text-align: center;
    letter-spacing: 2px;
    border-radius: 3px;
    color: #fff;
    background-color: #3c2617;
}

/* header */
.header {
    display: none;
}

@media screen and (min-width: 768px) {
    .header {
        display: block;
        position: absolute;
        width: 245px;
        top: 0;
        left: 50px;
        background-color: #fff;
        z-index: 100;
    }
}

.header__inner {
    padding: 30px 40px;
}

.header__logo {

}

.header__logo img {
    width: 166px;
    height: 150px;
}

.header__nav {
    margin-top: 48px;
}

.header__menu {

}

.header__list {
    font-weight: 700;
    letter-spacing: 2px;
}

.header__list:not(:first-child) {
    margin-top: 28px;
}


.title-en {
    display: block;
    font-size: 9px;
    font-weight: 700;
}

/* hero */
/* slider1 */
.hero {
}

/* 全体のスタイル */
.slider1 {
	width: 100%;
    overflow: hidden;
}

.swiper-slide-active .slide-image,
.swiper-slide-prev .slide-image,
.swiper-slide-next .slide-image {
    animation: zoomUp 15s linear 0s 1 normal both;
    animation-name: zoomUp;
    animation-duration: 10s;
    animation-fill-mode: both;
    animation-timing-function: linear;
    animation-direction: normal;
}

@keyframes zoomUp {
    0% {
        transform: scale(1);
        opacity: 0.3;
    }
    100% {
        transform: scale(1.15);
        opacity: 1;
    }
  }

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

@media screen and (min-width: 768px) {
    .swiper-slide img {
        height: auto;
    }
}

/* news */
.news__info {
    width: 100%;
    margin-top: 60px;
    border-bottom: 1px solid #3c2617;
}

.info__article {
    display: block;
    border-top: 1px solid #3c2617;
}

@media screen and (min-width: 768px) {
    .sp__flex {
        display: flex;
        position: relative;
    }
}

@media screen and (min-width: 768px) {
    .sp__flex::after {
        position: absolute;
        content: "";
        background-image: url(/images/arrow-r.png);
        background-repeat: no-repeat;
        background-size: contain;
        width: 10px;
        height: 10px;
        top: 50%;
        right: 50px;
        transform: translateY(-50%);
    }
}

.info__date {
    margin-left: 60px;
    font-weight: 700;
}

@media screen and (min-width: 768px) {

    .info__date::after {
        content: "";
        margin-left: 50px;
        border-right: 1px solid #666464;
    }
}

.info__title {
    margin-left: 50px;
}

/* about */
.about {

}

.about__flex-l {
    width: 50%;
}

@media screen and (min-width: 768px) {
    .about__flex-l {
        width: 100%;
    }
}

.about__text {

}

.about__caption {
    font-size: 13px;
    font-weight: 700;
    line-height: 2em;
}

.about__desc {
    margin-top: 20px;
}

.about__flex-r {
    width: 50%;
    margin-left: 50px;
}

@media screen and (min-width: 768px) {
    .about__flex-r {
        width: 100%;
        margin-left: 0;
    }
}

.s__image {

}