*,
*::before,
*::after {
    box-sizing: border-box;
}

html,
body {
    padding: 0;
    margin: 0;
}

body {
    font-family: "futura-pt", "futura-pt-bold", 'Helvetica Neue','Arial','游ゴシック', 'YuGothic', 'ヒラギノ角ゴ ProN W3', "Hiragino Kaku Gothic ProN", "メイリオ", 'Meiryo', 'Osaka', 'MS Pゴシック', 'MS PGothic', sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 12px;
    line-height: 26px;
    background-color: #f5f3f2;
    color: #3c2617;
}

img {
    max-width: 100%;
    height: auto;
}

ul,
ol {
    list-style: none;
    padding: 0;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    padding: 0;
    margin: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

/* inner */
.section__inner {
    width: 980px;
    max-width: 100%;
    margin: 0 auto;
    padding: 60px 0;
}

.inner-bb {
    padding-bottom: 60px;
    border-bottom: 1px solid #3c2617;
}

/* 共通項目 */
.s__title {
    font-size: 13px;
    letter-spacing: 2px;
}

.s__title::after {
    content: "";
    display: block;
    width: 18px;
    padding-bottom: 12px;
    border-bottom: 1px solid #666464;
}

.s__title-en {
    display: block;
    margin-top: 12px;
    font-weight: 700;
}

.s__flex {
    display: flex;
}

.flex-mt {
    margin-top: 60px;
}

.bg-light {
    background-color: #fcfbf5;
}

.t-square {
    display: inline-block;
    padding: 1px 12px;
    font-size: 13px;
    text-align: center;
    letter-spacing: 2px;
    border-radius: 3px;
    color: #fff;
    background-color: #3c2617;
}

/* header */
.header {
    position: absolute;
    width: 245px;
    top: 0;
    left: 50px;
    background-color: #fff;
    z-index: 100;
}

.header__inner {
    padding: 30px 40px;
}

.header__logo {

}

.header__logo img {
    width: 166px;
    height: 150px;
}

.header__nav {
    margin-top: 48px;
}

.header__menu {

}

.header__list {
    font-weight: 700;
    letter-spacing: 2px;
}

.header__list:not(:first-child) {
    margin-top: 28px;
}


.title-en {
    display: block;
    font-size: 9px;
    font-weight: 700;
}

/* hero */
/* swiper */
.hero {
    width: 100%;
}

/* 全体のスタイル */
.swiper {
	width: 100%;
    overflow: hidden;
}
@keyframes zoomUp {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(1.15);
    }
  }

.swiper-slide img {
    width: 100%;
}

.swiper-slide[class*=-active] .slide-image img {
    transition-delay: 0s;
    transform: scale(1.05);
}

/* news */
.news__info {
    margin-top: 60px;
    border-bottom: 1px solid #3c2617;;
}

.info__flex {
    display: flex;
    padding: 12px 0;
    border-top: 1px solid #3c2617;
    position: relative;
}

.info__flex::after {
    position: absolute;
    content: "";
    background-image: url(/images/arrow-r.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 10px;
    height: 10px;
    top: 50%;
    right: 50px;
    transform: translateY(-50%);
}

.info__date {
    margin-left: 60px;
    font-weight: 700;
}

.info__date::after {
    content: "";
    margin-left: 50px;
    border-right: 1px solid #666464;
}

.info__title {
    margin-left: 50px;
}

/* about */
.about {

}

.about__flex-l {
    width: 50%;
}

.about__text {

}

.about__caption {
    font-size: 13px;
    font-weight: 700;
    line-height: 2em;
}

.about__desc {
    margin-top: 20px;
}

.about__flex-r {
    width: 50%;
    margin-left: 50px;
}

.s__image {

}

/* introduction */
.introduction {

}

.intr__flex {

}

.intr__flex-l {
    width: 50%;
}

.doctor__text {

}

.doctor__cap {
    font-size: 13px;
    font-weight: 700;
    line-height: 28px;
}

.doctor__name {
    font-size: 20px;
    letter-spacing: 10px;
    font-weight: 700;
    margin-top: 30px;
}

.name-en {
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 3px;
    margin-left: 30px;
}

.doctor__image {
    margin-top: 50px;
}

.doctor__image img{
    width: 460px;
    height: 430px;
}

.intr__flex-r {
    width: 50%;
    margin-left: 50px;
}

.intr__title:not(:first-child) {
    margin-top: 30px;
}

.career {
    margin-top: 30px;
}

.career__flex {
    display: flex;
}

.career__date {
    width: 10%;
    font-weight: 700;
    text-align: right;
}

.career__history {
    width: 90%;
    margin-left: 28px;
}

.license {
    margin-top: 30px;
}

.license__list {
    line-height: 1.8em;
}

/* guide */
.guide {

}

.guide__flex-l {
    width: 50%;
}

.medical-hours {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
    border: 2px solid #3c2617;
    font-weight: 700;
    text-align: center;
    background-color: #fff;
}

.medical-hours th, td {
    border: 2px solid #3c2617;
}

.medical-hours th:nth-child(1) {
    width: 120px;
}
.medical-hours td {
    font-size: 16px;
}

.fz-s {
    font-size: 11px;
}

.fz-b {
    font-size: 16px;
}

.table-p th, td{
    padding: 10px 0;
}

.guide__flex-r {
    width: calc(100% - 460px);
    margin-left: 50px;
}

.guide__text {
    display: flex;
    vertical-align: middle;
    letter-spacing: 1px;
}

.closed {
}

.closed__title {

}

.closed-day {
    margin-left: 30px;
    font-size: 15px;
    font-weight: 700;
}

.department {
    margin-top: 10px;
}

.department__title {
}

.department__list {
    margin-left: 30px;
    font-size: 15px;
    font-weight: 700;
}

/* appointment */
.appointment {

}

.appointment__flex-l {
    width: 50%;
}

.appointment__cap {

}

.tel {
    font-size: 38px;
    font-weight: 700;
    letter-spacing: 5px;
}

.appointment__flex-r {
    width: 50%;
    margin-top: 30px;
}

.reception-time__flex {
    display: flex;
}

.time__title {

}

.reception-time {
    margin-left: 30px;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: 1px;
}

.note {
    font-size: 12px;
}

/* access */
.access {

}

.access__flex-l {
    width: calc(100% - 222px)
}

.detail__flex {
    display: flex;
    justify-content: space-between;
    letter-spacing: 2px;
    font-weight: 700;
    font-size: 13px;
}

.clinic-name {

}

.address__text {

}

.post-code {

}

.address {

}

.tel__text {

}

.tel {

}

.fax {

}

.access__flex-r {
    margin-left: 50px;
}

.map__btn {
}

.map__btn a {
    width: 222px;
    display: inline-block;
    padding: 5px 0;
    font-size: 13px;
    font-weight: 700;
    text-align: center;
    letter-spacing: 2px;
    border-radius: 3px;
    color: #fff;
    background-color: #3c2617;
    position: relative;
}

.map__btn a::before {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    border-left: 6px solid #fff;
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    top: 50%;
    left: 25%;
    transform: translateY(-25%);
}

.access__map {
    max-width: 100%;
    height: 350px;
}

.iframe__map {
    width: 100%;
    padding-top: calc(350 / 1200 * 100%);
    position: relative;
}

.iframe__map iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border:none;
    touch-action: pan-x pan-y;
}


/* photo-gallery */
.photo-gallery {

}

.section__inner {

}

.s__title {

}

.s__title-en {

}

/* footer */
.footer {
    padding: 120px 60px;
    background-color: #3c2617;
}

.footer__inner {

}

.footer__nav {
    color: #fff;
}

.footer__menu {
    display: flex;
}

.footer__list a{
    letter-spacing: 1px;
    transition: all 0.3s ease;
}

.footer__list a:hover {
    color: #BAAEA2;
}

.slash {
    margin: 0 9px;
}
.copyright {
    display: block;
    margin-top: 30px;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 2px;
}




