*,
*::before,
*::after {
    box-sizing: border-box;
}

html,
body {
    padding: 0;
    margin: 0;
}

body {
    font-family: "futura-pt", "futura-pt-bold", 'Helvetica Neue','Arial','游ゴシック', 'YuGothic', 'ヒラギノ角ゴ ProN W3', "Hiragino Kaku Gothic ProN", "メイリオ", 'Meiryo', 'Osaka', 'MS Pゴシック', 'MS PGothic', sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 12px;
    line-height: 26px;
    background-color: #f5f3f2;
    color: #3c2617;
}

img {
    max-width: 100%;
    height: auto;
}

ul,
ol {
    list-style: none;
    padding: 0;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    padding: 0;
    margin: 0;
}

p {
    margin: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

/* inner */
.section__inner {
    width: 980px;
    max-width: 100%;
    margin: 0 auto;
    padding: 60px 0;
}

@media screen and (max-width: 768px) {
    .section__inner {
        width: 80%;
    }
}

.inner-bb {
    padding-bottom: 60px;
    border-bottom: 1px solid #3c2617;
}

/* 共通項目 */
.s__title {
    font-size: 13px;
    letter-spacing: 2px;
}

.s__title::after {
    content: "";
    display: block;
    width: 18px;
    padding-bottom: 12px;
    border-bottom: 1px solid #666464;
}

.s__title-en {
    display: block;
    margin-top: 12px;
    font-weight: 700;
}

.s__flex {
    display: flex;
}

@media screen and (max-width: 768px) {
    .s__flex {
        flex-wrap:wrap;
        flex-direction: column;
    }
}

.flex-mt {
    margin-top: 60px;
}

.bg-light {
    background-color: #fcfbf5;
}

.t-square {
    display: inline-block;
    padding: 1px 12px;
    font-size: 13px;
    text-align: center;
    letter-spacing: 2px;
    border-radius: 3px;
    color: #fff;
    background-color: #3c2617;
}

/* header */
.header {
    position: absolute;
    width: 245px;
    top: 0;
    left: 50px;
    background-color: rgba(255,255,255,0.9);;
    z-index: 100;
}

@media screen and (max-width: 768px) {
    .header {
        display: none;
    }
}

.header__inner {
    padding: 30px 40px;
}

.header__logo {

}

.header__logo img {
    width: 166px;
    height: 150px;
}

.header__nav {
    margin-top: 20px;
}

.header__menu {

}

.header__list {
    font-weight: 700;
    letter-spacing: 2px;
}

.header__list:not(:first-child) {
    margin-top: 20px;
}


.title-en {
    display: block;
    font-size: 9px;
    font-weight: 700;
}

/* header レスポンシブ */
.drawer__icon {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 400;
    transition: all 0.4s ease;
    display: none;
}

@media screen and (max-width: 768px) {
    .drawer__icon {
        display: block;
    }
}

.drawer__icon.is-active {
    transform: translateX(220px);
}

.drawer__icon-bars {
    width: 60px;
    height: 60px;
    background-color: #fff;
    position: relative;
    display: block;
}

.drawer__icon-bar1,
.drawer__icon-bar2,
.drawer__icon-bar3 {
    position: absolute;
    width: 30px;
    height: 1px;
    background-color: #3c2617;
    top: 0;
    left: 25%;
}

.drawer__icon-bar1 {
    top: 22px;
}

.drawer__icon.is-active .drawer__icon-bar1 {
    transform: rotate(45deg);
    transition: all 0.8s ease;
    top: 30px;
}

.drawer__icon-bar2 {
    top: 30px;
}

.drawer__icon.is-active .drawer__icon-bar2 {
    display: none;
}

.drawer__icon-bar3 {
    top: 38px;
}

.drawer__icon.is-active .drawer__icon-bar3 {
    transform: rotate(-45deg);
    transition: all 0.8s ease;
    top: 30px;
}

.drawer__nav {
    width: 220px;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #fff;
    z-index: 300;
    transform: translateX(-103%);
    transition: 0.3s ease-in-out;
}

.drawer__nav.is-active {
    transform: translateX(0);
}

.drawer__menu {
    padding: 20px 0;
}

.drawer__list {
    padding: 15px 40px;
    line-height: 2em;
    font-weight: 700;
    background-color: #fff;
    background-clip: padding-box;
    border-bottom: 1px solid rgba(83, 79, 79, 0.6);

    /* 順番に表示 */
    transform: translateX(-103%);
    animation: list-animation 1s forwards;
}

/* drawer__list 順番に表示 */
.drawer__list:nth-child(1) {
    animation-delay: 1s
}

.drawer__list:nth-child(2) {
    animation-delay: 1.1s
}

.drawer__list:nth-child(3) {
    animation-delay: 1.2s
}

.drawer__list:nth-child(4) {
    animation-delay: 1.3s
}

.drawer__list:nth-child(5) {
    animation-delay: 1.4s
}

.drawer__list:nth-child(6) {
    animation-delay: 1.5s
}

@keyframes list-animation {
    0% {
    transform: translateX(-103%);
    }

    100% {
        transform: translateX(0);
    }
}

.drawer__background {
    position: fixed;
    top: 0;
    left: 0;
    width: 220px;
    height: 100%;
    background-color: #fff;
    z-index: 298;
    display: none;
    transition: all 0.5s ease;
}

.drawer__background.is-active {
    display: block;
}

.sp__logo {
    display: none;
}

/* hero */
/* slider1 */
.hero {
    width: 100%;
}

/* 全体のスタイル */
.slider1 {
	width: 100%;
    height: 736px;
    overflow: hidden;
}
.swiper-slide-active .slide-image,
.swiper-slide-prev .slide-image,
.swiper-slide-next .slide-image {
    animation: zoomUp 15s linear 0s 1 normal both;
    animation-name: zoomUp;
    animation-duration: 10s;
    animation-fill-mode: both;
    animation-timing-function: linear;
    animation-direction: normal;
}

@keyframes zoomUp {
    0% {
        transform: scale(1);
        opacity: 0.3;
    }
    100% {
        transform: scale(1.15);
        opacity: 1;
    }
  }

.swiper-slide img {
    display: block;
    width: 100%;
    height: 736px;
    object-fit: cover;
}

/* news */
.news__info {
    width: 100%;
    margin-top: 60px;
    border-bottom: 1px solid #3c2617;;
}

.info__flex {
    display: flex;
    padding: 12px 0;
    border-top: 1px solid #3c2617;
    position: relative;
}

@media screen and (max-width: 768px) {
    .info__flex {
        flex-wrap:wrap;
        flex-direction: column;
    }
}

.info__flex::after {
    position: absolute;
    content: "";
    background-image: url(/images/arrow-r.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 10px;
    height: 10px;
    top: 50%;
    right: 50px;
    transform: translateY(-50%);
}

@media screen and (max-width: 768px) {
    .info__flex::after {
        display: none;
    }
}

.info__date {
    margin-left: 60px;
    font-weight: 700;
}

.info__date::after {
    content: "";
    margin-left: 50px;
    border-right: 1px solid #666464;
}

@media screen and (max-width: 768px) {
    .info__date::after {
        display: none;
    }
}

.info__title {
    margin-left: 50px;
}

/* about */
.about {

}

.about__flex-l {
    width: 50%;
}

@media screen and (max-width: 768px) {
    .about__flex-l {
        width: 100%;
    }
}

.about__text {

}

.about__caption {
    font-size: 13px;
    font-weight: 700;
    line-height: 2em;
}

.about__desc {
    margin-top: 20px;
}

.about__flex-r {
    width: 50%;
    margin-left: 50px;
}

@media screen and (max-width: 768px) {
    .about__flex-r {
        width: 100%;
        margin: 30px 0 0 0;
    }
}

.s__image {

}

/* introduction */
.introduction {

}

.intr__flex {

}

.intr__flex-l {
    width: 50%;
}

@media screen and (max-width: 768px) {
    .intr__flex-l {
        width: 100%;
    }
}

.doctor__text {

}

.doctor__cap {
    font-size: 13px;
    font-weight: 700;
    line-height: 28px;
}

.doctor__name {
    font-size: 20px;
    letter-spacing: 10px;
    font-weight: 700;
    margin-top: 30px;
}

.name-en {
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 3px;
    margin-left: 30px;
}

.doctor__image {
    margin-top: 50px;
}

.doctor__image img{
    width: 460px;
    height: 430px;
}

@media screen and (max-width: 768px) {
    .doctor__image img{
        width: 100%;
        height: 100%;
    }
}

.intr__flex-r {
    width: 50%;
    margin-left: 50px;
}

@media screen and (max-width: 768px) {
    .intr__flex-r {
        width: 100%;
        margin: 30px 0 0 0;
    }
}

.intr__title:not(:first-child) {
    margin-top: 30px;
}

.career {
    margin-top: 30px;
}

.career__flex {
    display: flex;
}

.career__date {
    width: 10%;
    font-weight: 700;
    text-align: right;
}

.career__history {
    width: 90%;
    margin-left: 28px;
}

.license {
    margin-top: 30px;
}

.license__list {
    line-height: 1.8em;
}

/* guide */
.guide {

}

.guide__flex-l {
    width: 50%;
}

@media screen and (max-width: 768px) {
    .guide__flex-l {
        width: 100%
    }
}


.medical-hours {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
    border: 2px solid #3c2617;
    font-weight: 700;
    text-align: center;
    background-color: #fff;
}

.medical-hours th, td {
    border: 2px solid #3c2617;
}

.medical-hours th:nth-child(1) {
    width: 120px;
}
.medical-hours td {
    font-size: 16px;
}

.fz-s {
    font-size: 11px;
}

.fz-b {
    font-size: 16px;
}

.table-p th, td{
    padding: 10px 0;
}

.guide__flex-r {
    width: calc(100% - 460px);
    margin-left: 50px;
}

@media screen and (max-width: 768px) {
    .guide__flex-r {
        width: 100%;
        margin: 30px 0 0 0;
    }
}

.guide__text {
    display: flex;
    vertical-align: middle;
    letter-spacing: 1px;
}

@media screen and (max-width: 768px) {
    .guide__text {
        flex-wrap:wrap;
        flex-direction: column;
        display: block;
        margin-top: 30px;
    }
}

.closed {
}

.closed__title {

}

.closed-day {
    margin-left: 30px;
    font-size: 15px;
    font-weight: 700;
}

@media screen and (max-width: 768px) {
    .closed-day {
        margin: 30px 0 0 0;
    }
}

.department {
    margin-top: 30px;
}

.department__title {
}

.department__list {
    margin-left: 30px;
    font-size: 15px;
    font-weight: 700;
}

@media screen and (max-width: 768px) {
    .department__list {
        margin: 30px 0 0 0;
    }
}


/* appointment */
.appointment {

}

.appointment__flex-l {
    width: 50%;
}

@media screen and (max-width: 768px) {
    .appointment__flex-l {
        width: 100%;
    }
}


.appointment__cap {

}

.tel {
    font-size: 38px;
    font-weight: 700;
    letter-spacing: 5px;
}

@media screen and (max-width: 768px) {
    .tel {
        font-size: 20px;
        margin-top: 30px;
    }
}

.appointment__flex-r {
    width: 50%;
    margin-top: 30px;
}

@media screen and (max-width: 768px) {
    .appointment__flex-r {
        width: 100%;
    }
}

.reception-time__flex {
    display: flex;
}

@media screen and (max-width: 768px) {
    .reception-time__flex {
        flex-wrap:wrap;
        flex-direction: column;
        display: block;
    }
}

.time__title {

}

.reception-time {
    margin-left: 30px;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: 1px;
}

@media screen and (max-width: 768px) {
    .reception-time {
        margin: 30px 0 0 0;
    }
}

.note {
    font-size: 12px;
    margin-top: 15px;
}

/* access */
.access {
    padding-bottom: 60px;
}

.access__flex-l {
    width: calc(100% - 222px)
}

.detail__flex {
    display: flex;
    justify-content: space-between;
    letter-spacing: 2px;
    font-weight: 700;
    font-size: 13px;
}

@media screen and (max-width: 768px) {
    .detail__flex {
        flex-wrap:wrap;
        flex-direction: column;
    }
}


.clinic-name {

}

.address__text {

}

.post-code {

}

@media screen and (max-width: 768px) {
    .post-code {
        margin-top: 15px;
    }
}

.address {

}

@media screen and (max-width: 768px) {
    .tel__text {
        line-height: 18px;
    }
}

.tel {

}

.fax {

}

.access__flex-r {
}

.map__btn {
    margin-left: 50px;
}

@media screen and (max-width: 768px) {
    .map__btn {
        margin: 30px 0 0 0;
    }
}

.map__btn a {
    width: 200px;
    display: inline-block;
    padding: 5px 10px;
    font-size: 12px;
    font-weight: 700;
    text-align: center;
    letter-spacing: 2px;
    border-radius: 3px;
    color: #fff;
    background-color: #3c2617;
    position: relative;
}

.map__btn a::before {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    border-left: 6px solid #fff;
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    top: 50%;
    left: 25%;
    transform: translateY(-25%);
}

.access__map {
    max-width: 100%;
    height: 100%;
}

.iframe__map {
    width: 100%;
    padding-top: calc(350 / 1200 * 100%);
    position: relative;
}

.iframe__map iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border:none;
    touch-action: pan-x pan-y;
}


/* photo-gallery */
.photo-gallery {
    padding-bottom: 60px;

}

/* slider2 */
.photo-slide {

}

.slider2 {
    position: relative;
    cursor: move;
}

.swiper-slide2 {
    width: 450px;
    height: auto;
}

.slide-image2 {
    height: 225px;
}

.slide-image2 img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slider2 .swiper-btn {
    position: absolute;
    content: "";
    width: 24px;
    height: 24px;
    top: 50%;
    border: 1px solid #3c2617;
    border-radius: 50px;
    z-index: 3;
}

.swiper-button-next {
    position: relative;
    float: right;
    right: 2%;
}

.swiper-button-next::after {
    position: absolute;
    content: "";
    width: 8px;
    height: 8px;
    border: 1px solid;
    border-color: #3c2617 #3c2617 transparent transparent;
    transform: translateY(-50%) rotate(45deg);
    top: 50%;
    right: 9px;
}

.swiper-button-prev {
    position: relative;
    float: left;
    left: 2%;
}

.swiper-button-prev::after {
    position: absolute;
    content: "";
    width: 8px;
    height: 8px;
    border: 1px solid;
    border-color: transparent transparent #3c2617 #3c2617;
    transform: translateY(-50%) rotate(45deg);
    top: 50%;
    left: 9px;
}


/* footer */
.footer {
    padding: 120px 60px;
    background-color: #3c2617;
}

.footer__inner {

}

.footer__nav {
    color: #fff;
}

.footer__menu {
    display: flex;
}

.footer__list a {
    display: inline-block;
    letter-spacing: 1px;
    transition: all 0.3s ease;
}

.footer__list a::after {
    content: "/";
    margin-left: 0.7em;
    margin-right: 0.7em;
}

.footer__list a:hover {
    color: #BAAEA2;
}

.copyright {
    display: block;
    margin-top: 30px;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 2px;
}

/* topへ戻る */
.page-top {
    position: fixed;
    bottom: 3%;
    right: 3%;
    opacity: 0;
    transition: all 0.5s ease 0s;
}

.page-top.show {
    opacity: 1;
}

