*,
*::before,
*::after {
    box-sizing: border-box;
}

html,
body {
    padding: 0;
    margin: 0;
}

body {
    font-family: "Hind", "futura-pt-bold", 'Helvetica Neue','Arial','游ゴシック', 'YuGothic', 'ヒラギノ角ゴ ProN W3', "Hiragino Kaku Gothic ProN", "メイリオ", 'Meiryo', 'Osaka', 'MS Pゴシック', 'MS PGothic', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 12px;
    line-height: 26px;
    background-color: #f5f3f2;
    color: #3c2617;
}

img {
    max-width: 100%;
    height: auto;
}

ul,
ol {
    list-style: none;
    padding: 0;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    padding: 0;
    margin: 0;
}

p {
    margin: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

/* inner */
.section__inner {
    width: 980px;
    max-width: 100%;
    margin: 0 auto;
    padding: 60px 0;
}

@media screen and (max-width: 740px) {
    .section__inner {
        width: 84%;
    }
}

.inner-bb {
    padding-bottom: 60px;
    border-bottom: 1px solid #3c2617;
}

/* 共通項目 */
.s__title {
    font-size: 13px;
    letter-spacing: 2px;
}

.s__title::after {
    content: "";
    display: block;
    width: 18px;
    padding-bottom: 12px;
    border-bottom: 1px solid #666464;
}

.s__title-en {
    display: block;
    margin-top: 12px;
    letter-spacing: 1px;
}

.s__flex {
    display: flex;
}

@media screen and (max-width: 740px) {
    .s__flex {
        flex-wrap:wrap;
        flex-direction: column;
    }
}

.flex-mt {
    margin-top: 60px;
}

.bg-light {
    background-color: #fcfbf5;
}

.t-square {
    display: inline-block;
    height: 26px;
    padding: 1px 0;
    font-size: 13px;
    text-align: center;
    font-weight: 700;
    letter-spacing: 2px;
    line-height: 28px;
    border-radius: 3px;
    color: #fff;
    background-color: #3c2617;
}

.square60 {
    width: 60px;
}

.square90 {
    width: 114px;
}

.square129 {
    width: 129px;
}

/* SP時の改行 */
.br-sp {
    display: none;
}

@media screen and (max-width: 740px) {
    .br-sp {
        display: block;
    }
}

/* header */
.header__logo {
    width: 166px;
    height: 150px;
}

@media screen and (max-width: 740px) {
    .header__logo {
        padding: 30px 50px;
    }
}


.header__logo img {
    width: 100%;
    margin: 0;
}

.header-pc {
    position: absolute;
    width: 245px;
    top: 0;
    left: 50px;
    z-index: 100;
    background-color: rgba(255,255,255,0.9);
    border-radius: 0 0 5px 5px;
    padding: 30px 40px 50px;
}

@media screen and (max-width: 740px) {
    .header-pc {
        background-color: transparent;
        position: initial;
        padding: 0;
    }
}

.header__list:not(:first-child) {
    margin-top: 25px;
}

.header__list a {
    font-weight: 700;
    letter-spacing: 2px;
}

.title-en {
    display: block;
    font-weight: 400;
    font-size: 10px;
    letter-spacing: 1px;
    line-height: 24px;
}

/* SP時 none */

.header__nav {
    display: block;
}

@media screen and (max-width: 740px) {
    .header__nav {
        display: none;
    }
}

/* header レスポンシブ */
.drawer__icon {
    width: 60px;
    height: 60px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    background-color: #fff;
    transition: all 0.5s ease;
    display: none;
}

@media screen and (max-width: 740px) {
    .drawer__icon {
        display: block;
    }
}

.drawer__icon.open {
    transform: translateX(220px);
}
.drawer__icon-bars {
    position: relative;
    display: block;
}

.drawer__icon-bar1,
.drawer__icon-bar2,
.drawer__icon-bar3 {
    position: absolute;
    width: 30px;
    height: 2px;
    background-color: #3c2617;
    top: 0;
    left: 25%;
}

.drawer__icon-bar1 {
    top: 15px;
}

.drawer__icon.open .drawer__icon-bar1 {
    transform: rotate(45deg);
    transition: all 0.5s ease;
    top: 27px;
}

.drawer__icon-bar2 {
    top: 27px;
}

.drawer__icon.open .drawer__icon-bar2 {
    display: none;
}

.drawer__icon-bar3 {
    top: 39px;
}

.drawer__icon.open .drawer__icon-bar3 {
    transform: rotate(-45deg);
    transition: all 0.5s ease;
    top: 27px;
}

.drawer__nav {
    width: 220px;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #fff;
    z-index: 500;
    transition: all 0.5s ease;
    transform: translateX(-220px);
}

/* drawer__nav 開閉 */
.hide {
    transform: translateX(-220px);
    visibility: hidden;
}

.open {
    transform: translateX(0);
    visibility: visible;
}

.drawer__menu {
    padding: 20px 0;
    background-color: #fff;
}

.drawer__list {
    padding: 15px 0 15px 40px;
    line-height: 2em;
    font-weight: 700;
    color: #666464;
    border-bottom: 1px dotted rgba(83, 79, 79, 0.6);
    transform: translate3d(-40px, 0, 0);
}

.drawer__list.open {
    transform: translate3d(0, 0, 0);
}

.drawer__list:nth-child(1) {
    transition: all 800ms cubic-bezier(0.165, 0.84, 0.44, 1) 100ms;
}

.drawer__list:nth-child(2) {
    transition: all 800ms cubic-bezier(0.165, 0.84, 0.44, 1) 200ms;
}

.drawer__list:nth-child(3) {
    transition: all 800ms cubic-bezier(0.165, 0.84, 0.44, 1) 300ms;
}

.drawer__list:nth-child(4) {
    transition: all 800ms cubic-bezier(0.165, 0.84, 0.44, 1) 400ms;
}

.drawer__list:nth-child(5) {
    transition: all 800ms cubic-bezier(0.165, 0.84, 0.44, 1) 500ms;
}

.drawer__list:nth-child(6) {
    transition: all 800ms cubic-bezier(0.165, 0.84, 0.44, 1) 600ms;
}

.drawer__background {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    backdrop-filter: blur(2px);
    z-index: 300;
    display: none;

    /* スマホ表示用 */
    -webkit-filter: blur(2px);
    filter: blur(2px);
}

.drawer__background.open {
    display: block;
}

/* レスポンシブのロゴ */
@media screen and (max-width: 740px) {
    .header__logo {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        max-width: 540px;
        width: 100%;
        height: auto;
        margin: 0 auto;
        background-color: rgba(255,255,255,0.9);
        box-shadow: 1px 1px 7px 0px rgba(0, 0, 0, 0.1);
        border-radius: 6px;
        z-index: 200;
    }
}

/* hero */
/* slider1 */
.hero {
    width: 100%;
    position: relative;
}

/* 全体のスタイル */
.slider1 {
	width: 100%;
    height: 100vh;
    overflow: hidden;
}

.swiper-slide-active .slide-image img {
    animation-name: fade;
    animation-duration: 4s;
    animation-timing-function: linear;
    animation-delay: 0.8s;
    animation-iteration-count: 1;
    animation-fill-mode: both;
    opacity: 0.3;
}

@keyframes fade {
    0% {
        opacity: 0.3;
    }
    100% {
        opacity: 1;
    }
}

.slide-image img {
    display: block;
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

/* news */
.news__info {
    width: 100%;
    margin-top: 60px;
    border-bottom: 1px solid #3c2617;;
}

.info__flex {
    display: flex;
    padding: 12px 0;
    font-size: 12px;
    border-top: 1px solid #3c2617;
    transition: all 0.3s ease;
    position: relative;
}

@media screen and (max-width: 740px) {
    .info__flex {
        flex-wrap:wrap;
        flex-direction: column;
    }
}

.info__flex::after {
    position: absolute;
    content: "";
    background-image: url(../images/arrow-r.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 10px;
    height: 10px;
    top: 50%;
    right: 50px;
    transform: translateY(-50%);
}

@media screen and (max-width: 740px) {
    .info__flex::after {
        display: none;
    }
}

.info__flex:hover {
    background-color: rgba(255,255,255,1);
}

.info__date {
    margin-left: 60px;
    letter-spacing: 1px;
    position: relative;
}

@media screen and (max-width: 740px) {
    .info__date {
        margin-left: 0;
    }
}

.info__date::after {
    position: absolute;
    content: "";
    width: 1px;
    height: 15px;
    background-color: #666464;
    top: 50%;
    left: 100%;
    transform: translateY(-50%);
    margin-left: 50px;
}

@media screen and (max-width: 740px) {
    .info__date::after {
        display: none;
    }
}

.info__title {
    margin-left: 100px;
}

@media screen and (max-width: 740px) {
    .info__title {
        margin-left: 0;
    }
}

/* about */
.about__flex-l {
    width: 50%;
}

@media screen and (max-width: 740px) {
    .about__flex-l {
        width: 100%;
    }
}

.about__caption {
    font-size: 13px;
    font-weight: 700;
    line-height: 2em;
}

.about__desc {
    margin-top: 20px;
}

.about__flex-r {
    width: 50%;
    margin-left: 50px;
}

@media screen and (max-width: 740px) {
    .about__flex-r {
        width: 100%;
        margin: 30px 0 0 0;
    }
}

/* introduction */
.intr__flex-l {
    width: 50%;
}

@media screen and (max-width: 740px) {
    .intr__flex-l {
        width: 100%;
    }
}

.doctor__cap {
    font-size: 13px;
    font-weight: 700;
    line-height: 28px;
}

.doctor__name {
    font-size: 20px;
    letter-spacing: 10px;
    font-weight: 700;
    margin-top: 30px;
}

.name-en {
    font-size: 12px;
    letter-spacing: 3px;
    margin-left: 30px;
}

@media screen and (max-width: 740px) {
    .name-en {
        display: block;
        margin-left: 0;
        margin-top: 30px;
    }
}

.doctor__image {
    margin-top: 50px;
}

.doctor__image img{
    width: 460px;
}

@media screen and (max-width: 740px) {
    .doctor__image img{
        width: 100%;
    }
}

.intr__flex-r {
    width: 50%;
    margin-left: 50px;
}

@media screen and (max-width: 768px) {
    .intr__flex-r {
        width: 100%;
        margin: 30px 0 0 0;
    }
}

.intr__title:not(:first-child) {
    margin-top: 30px;
}

.career {
    width: 100%;
    margin-top: 30px;
}

.career dt {
    float: left;
    width: 9%;
    text-align: right;
}

.career dd {
    margin-left: 0;
    padding-left: 15%;
}

.license {
    margin-top: 30px;
}

.license__list {
    line-height: 1.8em;
}

/* guide */
.guide__flex-l {
    width: 50%;
}

@media screen and (max-width: 740px) {
    .guide__flex-l {
        width: 100%
    }
}

.medical-hours {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
    border: 2px solid #3c2617;
    font-weight: 700;
    text-align: center;
    background-color: #fff;
}

.medical-hours th, td {
    border: 2px solid #3c2617;
}

.medical-hours th:nth-child(1) {
    width: 120px;
}
.medical-hours td {
    font-size: 16px;
}

.fz-s {
    font-size: 11px;
}

.fz-b {
    font-size: 16px;
}

.table-p th, td{
    padding: 10px 0;
}

.guide__flex-r {
    width: calc(100% - 460px);
    margin-left: 50px;
}

@media screen and (max-width: 740px) {
    .guide__flex-r {
        width: 100%;
        margin: 30px 0 0 0;
    }
}

.guide__text {
    display: flex;
    vertical-align: middle;
    letter-spacing: 1px;
}

@media screen and (max-width: 740px) {
    .guide__text {
        flex-wrap:wrap;
        flex-direction: column;
        display: block;
    }
}

.closed-day {
    margin-left: 30px;
    font-size: 13px;
    font-weight: 700;
}

@media screen and (max-width: 740px) {
    .closed-day {
        margin: 30px 0 0 0;
    }
}

.department {
    margin-top: 50px;
}

.department__list {
    margin-left: 30px;
    font-size: 13px;
    font-weight: 700;
}

@media screen and (max-width: 740px) {
    .department__list {
        margin: 30px 0 0 0;
    }
}

/* appointment */
.appointment__flex-l {
    width: 50%;
}

@media screen and (max-width: 740px) {
    .appointment__flex-l {
        width: 100%;
    }
}

.appointment__cap {
    font-size: 13px;
    font-weight: 700;
}

.tel {
    font-size: 38px;
    letter-spacing: 5px;
    line-height: 38px;
    margin-top: 30px;
}

@media screen and (max-width: 740px) {
    .tel {
        font-size: 20px;
    }
}

.appointment__flex-r {
    width: 50%;
    margin-top: 55px;
}

@media screen and (max-width: 740px) {
    .appointment__flex-r {
        width: 100%;
    }
}

.reception-time__flex {
    display: flex;
}

@media screen and (max-width: 740px) {
    .reception-time__flex {
        flex-wrap: wrap;
        flex-direction: column;
        display: block;
    }
}

.reception-time {
    margin-left: 30px;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: 1px;
}

@media screen and (max-width: 740px) {
    .reception-time {
        margin: 30px 0 0 0;
    }
}

.note {
    font-size: 12px;
    margin-top: 15px;
}

@media screen and (max-width: 740px) {
    .note {
        margin-top: 30px;
    }
}

/* access */
.access__flex-l {
    width: calc(100% - 222px)
}

@media screen and (max-width: 740px) {
    .access__flex-l {
        width: 100%
    }
}

.detail__flex {
    display: flex;
    letter-spacing: 2px;
    font-size: 13px;
}

@media screen and (max-width: 740px) {
    .detail__flex {
        flex-wrap:wrap;
        flex-direction: column;
    }
}

.clinic-name {
    font-weight: 700;
}

.address__text {
    margin-left: 87px;
}

@media screen and (max-width: 740px) {
    .address__text {
        display: flex;
        margin-left: 0;
        margin-top: 15px;

    }
}

@media screen and (max-width: 740px) {
    .address {
        margin-left: 10px;
    }
}

.tel__text {
    margin-left: 87px;
}

@media screen and (max-width: 740px) {
    .tel__text {
        line-height: 18px;
        margin-left: 0;
    }
}

.map__btn {
    margin-left: 50px;
    padding: 0;
    transition: all 0.3s ease;
}

@media screen and (max-width: 740px) {
    .map__btn {
        margin: 30px 0 0 0;
    }
}

.map__btn a {
    width: 222px;
    height: 38px;
    display: block;
    padding: 5px 0;
    font-size: 12px;
    font-weight: 700;
    text-align: center;
    letter-spacing: 2px;
    border-radius: 3px;
    color: #fff;
    background-color: #3c2617;
    position: relative;
}

.map__btn:hover a {
    background-color: #543a2b;
}

.map__btn a::before {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    border-left: 8px solid #fff;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    top: 50%;
    left: 20%;
    transform: translateY(-50%);
}

.access__map {
    max-width: 100%;
}

@media screen and (max-width: 740px) {
    .access__map {
        height: auto;
    }
}

.iframe__map {
    width: 100%;
    height: 350px;
    position: relative;
}

@media screen and (max-width: 740px) {
    .iframe__map {
        height: 200px;
    }
}

.iframe__map iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border:none;
    touch-action: pan-x pan-y;
}


/* photo-gallery */
.photo-gallery {
    width: 100%;
    padding-bottom: 60px;
}

/* slider2 */
.photo-slide {
    width: 100%;
    cursor: move;
}

.slider2 {
    width:100%;
    overflow: hidden;
    position: relative;
}

.swiper-slide2 {
    width: 450px;
    height: 245px;
}

@media screen and (max-width: 740px) {
    .swiper-slide2 {
        width: 100%;
        height: auto;
    }
}

.slide-image2 img {
    width: 100%;
    height: 245px;
}

@media screen and (max-width: 740px) {
    .slide-image2 img {
        width: 100%;
        height: auto;
    }
}

.slider2 .swiper-btn {
    position: absolute;
    content: "";
    width: 24px;
    height: 24px;
    top: 50%;
    border: 1px solid #3c2617;
    border-radius: 50px;
    z-index: 3;
}

.swiper-button-next {
    position: relative;
    float: right;
    right: 2%;
}

.swiper-button-next::after {
    position: absolute;
    content: "";
    width: 8px;
    height: 8px;
    border: 1px solid;
    border-color: #3c2617 #3c2617 transparent transparent;
    transform: translateY(-50%) rotate(45deg);
    top: 50%;
    right: 9px;
}

.swiper-button-prev {
    position: relative;
    float: left;
    left: 2%;
}

.swiper-button-prev::after {
    position: absolute;
    content: "";
    width: 8px;
    height: 8px;
    border: 1px solid;
    border-color: transparent transparent #3c2617 #3c2617;
    transform: translateY(-50%) rotate(45deg);
    top: 50%;
    left: 9px;
}

/* footer */
.footer {
    padding: 120px 59px 60px;
    background-color: #3c2617;
}

.footer__inner {
    max-width: 980px;
    width: 100%;
    margin: 0 auto;
}

.footer__nav {
    color: #fff;
}

.footer__menu {
    display: flex;
    flex-wrap: wrap;
}

.footer__list a {
    letter-spacing: 1px;
    transition: all 0.3s ease;
}

.footer__list a::after {
    content: "/";
    margin-left: 0.7em;
    margin-right: 0.7em;
}

.footer__list:last-child a::after {
    content: none;
}

.footer__list a:hover {
    color: #BAAEA2;
}

.copyright {
    display: block;
    margin-top: 30px;
    color: #fff;
    font-size: 12px;
    letter-spacing: 2px;
}

/* topへ戻る */
.page-top {
    position: fixed;
    bottom: 3%;
    right: 3%;
    opacity: 0;
    transition: all 0.5s ease 0s;
    z-index: 100;
}

.page-top.show {
    opacity: 1;
}

